<?xml version="1.0" encoding="utf-8"?>
<!--
    No <uses-permission> entries at all: the app stores everything locally and never uses the
    network, so it needs no permissions from you.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".ChalisaApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HanumanChalisaCounter">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.HanumanChalisaCounter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
